body {
    background-color:gray;
    height: 100%;
    width:100%;
}
html {
    height: 100%;
    width: 100%;
    background-color: gray;
}
form {
    height: 100%;
    width: 100%;
    background-color: gray;
}

#wrap {
    margin: 100px;
    background-color: whitesmoke;
    height: 100%;
}

#Header {
    height: 30%;
    margin-top: 20px;
    width: 100%;
    background-color: whitesmoke;
}
#Content {
    height: 100%;
    width:100%;
    overflow: scroll;
    background-color: lavender;
}

#Footer {
    clear: both;
    height: 20%;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: lightsalmon;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {
    background-color: #e7e7e7;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
.button1 {
    background-color: darkseagreen;
    color: black;
    border: 2px solid olivedrab;
}

.button1:hover {
    background-color:firebrick;
    color: white;
}
.gvclass table th {
    text-align: center;
}
